<h1>Введите исходные данные по потокам</h1>
<div class="streams">
    <form action="" method="post">
        <div id="container">
            <div class="input-form">
                <label for="Tin">Tin</label>
                <input type="text" name="Tin" id="Tin">

                <label for="Tout">Tout</label>
                <input type="text" name="Tout" id="Tout">

                <label for="massFlow">Масс. расход</label>
                <input type="text" name="massFlow" id="massFlow">

                <label for="heatConductivity">Теплоемкость</label>
                <input type="text" name="heatConductivity" id="heatConductivity">
            </div>
        </div>

        <div class="button">
            <button type="submit">Начать анализ</button>
        </div>
    </form>

    <button id="addField">Добавить поле</button>
</div>
