<h1>Введите исходные данные по потокам</h1>
<div class="streams">
    <form action="" method="post">
        <div id="container">
            <div class="input-form">
                <label for="Tin">Tin</label>
                <input type="text" name="Tin" id="Tin" autocomplete="off">

                <label for="Tout">Tout</label>
                <input type="text" name="Tout" id="Tout" autocomplete="off">

                <label for="massFlow">Масс. расход</label>
                <input type="text" name="massFlow" id="massFlow" autocomplete="off">

                <label for="heatConductivity">Теплоемкость</label>
                <input type="text" name="heatConductivity" id="heatConductivity" autocomplete="off">
            </div>
        </div>
        <div class='input-form'>
          <label for='deltaT'>&#916T</label>
          <input type='text' name='deltaT' id='deltaT' autocomplete='off'>
        </div>

        <div class="button">
            <button type="submit">Начать анализ</button>
        </div>
    </form>

    <button id="addField">Добавить поле</button>
</div>
