<div class='results'>
  <h1>Результаты анализа:</h1>
  <p>Пинч для горячих потоков - {{hotPinchPoint}} град</p>
  <p>Пинч для холодных потоков - {{coldPinchPoint}} град</p>
  <p>Необходимо подвести тепла от горячих утилит - {{hotUtilities}} кДж</p>
  <p>Необходимо отвести тепла холодными утилитами - {{coldUtilities}} кДж</p>
</div>